.navbar {
  height: 100vh;
  width: 120px;
  background-color: #1c1f33;
  z-index: 999;
  position: fixed;
}

.navbar-container {
  align-content: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  float: right;
  margin: 0 30px;
  height: 100%;
}

.navbar-title {
  padding-top: 50%;
  font-weight: 700;
  font-size: 31.25px;
  color: #ffffff;
  padding-bottom: 118px;
}

.navbar-list {
  width: 60px;
  height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.navbar-item {
  font-weight: 500;
  font-size: 16px;
  flex-basis: auto;
  align-self: auto;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.navbar-item > .active {
  font-weight: 500;
  font-size: 16px;
  flex-basis: auto;
  align-self: auto;
  color: #00c49a;
  text-decoration: none;
}
